:root {
    --colorOne: rgb(172, 192, 254);
    --colorTwo: rgb(75, 8, 109);
}

@font-face {
    font-family: Product;
    src: url(assets/font/ProductSansRegular.ttf);
}

* {
    font-family: Product;
    letter-spacing: 1px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

main {
    height: fit-content;
    background-image: linear-gradient(150deg, var(--colorOne), 40%, var(--colorTwo));
}

.navbar {
    display: flex;
    padding: 16px;
    background-color: white;
    align-items: center;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.navbar #dot1 {
    width: 10px;
    height: 10px;
    border-radius: 90px;
    background-color: var(--colorOne);
}

.navbar #dot2 {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 90px;
    background-color: var(--colorOne);
}

.navbar #dot3 {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border-radius: 90px;
    background-color: var(--colorOne);
}

.navbar h1 {
   color: var(--colorOne);
   flex-grow: 1;
   font-size: 25px;
   padding: 0;
   margin: 0;
   background-image: linear-gradient(160deg, var(--colorOne), 50%, var(--colorTwo));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.navbar button {
    margin-left: 16px;
    padding: 8px;
    border: none;
    background-image: linear-gradient(160deg, var(--colorOne), 55%, var(--colorTwo));
    border-radius: 90px;
    color: white;
    box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: 100ms ease-in-out;
}

.navbar button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.info-box {
    /*padding: 0 0 0 16px;*/
    background-color: transparent;
}

.info-box #box {
    padding: 16px 8px 16px 16px;
    /*background-image: linear-gradient(160deg, indianred, purple);*/
    display: flex;
    border-radius: 10px 0 0 10px;
}

.info-box #box #card {
    width: 100%;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    margin-right: 8px;
    flex-shrink: 1;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    animation-name: infoCardAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes infoCardAnim {
    0% {
        transform: translateY(0px);
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    }
    
    100% {
        transform: translateY(5px);
        box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
    }
}

.info-box #box #card h1 {
    font-size: 30px;
    color: #424242;
    padding: 0;
    margin: 0 0 5px 0;
}

.info-box #box #card p {
    font-size: 20px;
    color: grey;
    padding: 0;
    margin: 0;
}

.about-title-box {
    background-color: white;
    padding: 16px;
    border-bottom: 2px dashed lightgrey;
}

.about-title-box h1 {
    font-size: 25px;
    color: #424242;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about-box {
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.about-box #pfp {
    width: 100px;
    height: auto;
    border-radius: 90px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    transition: 500ms ease-in-out;
}

.about-box #pfp:hover {
    transform: rotateZ(360deg) scale(1.1);
}

.about-box h1 {
    font-style: 30px;
    padding: 0;
    margin: 16px 0;
    background-size: 300% auto;
    background-image: linear-gradient(160deg, var(--colorOne), 50%, var(--colorTwo));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: aboutHeaderAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes aboutHeaderAnim {
    100% {
        background-position: center;
    }
}

.about-box p {
    font-size: 20px;
    padding: 0;
    margin: 0 0 16px 0;
    color: grey;
    text-align: center;
}

.skills-box {
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.skills-box h1 {
    color: #424242;
    font-size: 30px;
    padding: 0;
    margin: 0 0 5px 0;
}

.skills-box h1 span {
    color: gray;
}

.skills-box h2 {
    color: gray;
    font-size: 20px;
    padding: 0;
    font-weight: normal;
}

.skills-box p {
    color: grey;
    font-size: 20px;
    margin: 0 0 16px 0;
    padding: 0;
}

.skills-box .skill-bar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.skills-box .skill-bar img {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(-40deg, var(--colorTwo), 75%, var(--colorOne));
    border-radius: 90px;
    margin-right: 16px;
    outline: 5px solid rgba(0, 0, 0, 0.1);
}

.skills-box .skill-bar #info {
    width: 100%;
}

.skills-box .skill-bar #info h1 {
    font-size: 25px;
    font-weight: normal;
    padding: 0;
    margin: 0 0 16px 0;
}

.skills-box .skill-bar #info #progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 90px;
    background-color: lightgrey;
    margin-bottom: 8px;
}

.skills-box .skill-bar #info #progress-bar #progress {
    width: 0%;
    height: 20px;
    border-radius: 90px;
    background-image: linear-gradient(-90deg, var(--colorOne), 50%, var(--colorTwo));
    display: flex;
    align-items: center;
}

.skills-box .skill-bar #info #progress-bar #progress p {
    width: 100%;
    padding: 0;
    margin: 0 8px 0 0;
    text-align: right;
    color: white;
    font-size: 15px;
    flex-shrink: 1;
}


.skills-box .skill-bar #info #numbers {
    display: flex;
}

.skills-box .skill-bar #info #numbers p {
    width: 100%;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}

.skills-box .skill-bar #info #numbers #five {
    text-align: center;
}

.skills-box .skill-bar #info #numbers #ten {
    text-align: right;
}

.facts-box {
    background-color: white;
    padding: 16px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 16px 16px 16px;
}

.facts-box h1 {
    padding: 0;
    margin: 0 0 5px 0;
    color: #424242;
    font-size: 30px;
}

.facts-box p {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 20px;
}

.facts-box li p {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 15px;
}

.facts-box li p span {
    color: var(--colorTwo);
}

.facts-box li p blue {
    color: deepskyblue;
}

.copyright-box {
    margin: 0 16px;
    padding: 16px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.copyright-box #handle {
    width: 50px;
    height: 10px;
    margin-bottom: 16px;
    background-color: var(--colorTwo);
    border-radius: 90px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.copyright-box h1 {
    color: #424242;
    padding: 0;
    margin: 0 0 16px 0;
}

.copyright-box h1 span {
    color: var(--colorTwo);
    background-size: 300% auto;
    background-image: linear-gradient(160deg, var(--colorOne), 50%, var(--colorTwo));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aboutHeaderAnim;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.copyright-box p {
    color: lightgrey;
    padding: 0;
    margin: 0;
}

.copyright-box p a {
    color: var(--colorOne);
}
